In [3]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import requests
from census import Census
from us import states

In [4]:
#Define the function to extract the state-based census data for the years of 2011-2015
def census_state(year):
    # Census API Key
    c = Census("e314eeecd73e7d497ec079e9bfb5e74aeac2e4be", year=year)
    # Run Census Search to retrieve data on all states
    # Note the addition of "B23025_005E" for unemployment count
    census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for': 'state:*'})

    # Convert to DataFrame
    census_pd = pd.DataFrame(census_data)

    # Column Reordering
    census_pd = census_pd.rename(columns={"B01003_001E": "Population", 
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})

    # Add in Poverty Rate (Poverty Count / Population)
    census_pd["Poverty Rate"] = 100 * census_pd["Poverty Count"].astype(int) / census_pd["Population"].astype(int)

    # Add in Employment Rate (Employment Count / Population)
    census_pd["Unemployment Rate"] = 100 * census_pd["Unemployment Count"].astype(int) / census_pd["Population"].astype(int)

    # Final DataFrame
    census_pd = census_pd[["State", "Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate", "Unemployment Count", "Unemployment Rate"]]

    #Add column for the year
    census_pd['year']=year
    return census_pd

In [5]:
#Combine the state-based census data for the years of 2011-2015
census_list1=list()
for year in range(2011, 2016):
    census_list1.append(census_state(year))
census_state=census_list1[0].append([census_list1[i] for i in range(1,5)], ignore_index=True)

In [6]:
census_state.head()

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate,year
0,01,Alabama,4747424,37.7,42934,23483,813385,17.133186,4.540210,2011
1,02,Alaska,700703,33.8,69014,31944,65111,9.292239,4.414424,2011
2,04,Arizona,6337373,35.7,50752,25784,1003575,15.835820,4.234610,2011
3,05,Arkansas,2895928,37.3,40149,21833,516822,17.846507,3.940015,2011
4,06,California,36969200,35.1,61632,29634,5211481,14.096818,5.055211,2011

In [7]:
census_state['year'].value_counts()

2015    52
2014    52
2013    52
2012    52
2011    52
Name: year, dtype: int64

In [8]:
census_state.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 10 columns):
State                260 non-null object
Name                 260 non-null object
Population           260 non-null object
Median Age           260 non-null object
Household Income     260 non-null object
Per Capita Income    260 non-null object
Poverty Count        260 non-null object
Poverty Rate         260 non-null float64
Unemployment Rate    260 non-null float64
year                 260 non-null int64
dtypes: float64(2), int64(1), object(7)
memory usage: 20.4+ KB

In [9]:
census_state['Name'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
       'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
       'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin',
       'Wyoming', 'Puerto Rico'], dtype=object)

In [10]:
#Replace the full state names with abbreviations
new_cols2=census_state.columns.drop(['State'])
census_state=census_state[new_cols2]
census_state=census_state.rename(columns={'Name':'state'})
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}
census_state=census_state.replace(us_state_abbrev)
census_state.head()

,state,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate,year
0,AL,4747424,37.7,42934,23483,813385,17.133186,4.540210,2011
1,AK,700703,33.8,69014,31944,65111,9.292239,4.414424,2011
2,AZ,6337373,35.7,50752,25784,1003575,15.835820,4.234610,2011
3,AR,2895928,37.3,40149,21833,516822,17.846507,3.940015,2011
4,CA,36969200,35.1,61632,29634,5211481,14.096818,5.055211,2011

In [11]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_state.to_csv("census_data2011_2015.csv", encoding="utf-8", index=False)