In [2]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import requests
from census import Census
from us import states

In [3]:
# Census API Key
c = Census("e314eeecd73e7d497ec079e9bfb5e74aeac2e4be", year=2010)

In [4]:
# Run Census Search to retrieve data on all states
# Note the addition of "B23025_005E" for unemployment count
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'state:*'})
## census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          ##"B19301_001E",
                          ##"B17001_002E",
                          ##"B23025_005E"), {'for': 'state:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population", 
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "state": "State"})

#census_pd = census_pd.rename(columns={"B01003_001E": "Population", 
                                      #"B01002_001E": "Median Age",
                                      #"B19013_001E": "Household Income",
                                      #"B19301_001E": "Per Capita Income",
                                      #"B17001_002E": "Poverty Count",
                                      #"B23025_005E": "Unemployment Count",
                                      #"NAME": "Name", "state": "State"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * census_pd["Poverty Count"].astype(int) / census_pd["Population"].astype(int)

# Add in Employment Rate (Employment Count / Population)
#census_pd["Unemployment Rate"] = 100 * census_pd["Unemployment Count"].astype(int) / census_pd["Population"].astype(int)

# Final DataFrame
#census_pd = census_pd[["State", "Name", "Population", "Median Age", "Household Income",
                      # "Per Capita Income", "Poverty Count", "Poverty Rate", "Unemployment Rate"]]

census_pd.head()

,Median Age,Population,Poverty Count,Household Income,Per Capita Income,Name,State,Poverty Rate
0,37.5,4712651.0,786544.0,42081.0,22984.0,Alabama,01,16.690054
1,33.8,691189.0,64245.0,66521.0,30726.0,Alaska,02,9.294853
2,35.5,6246816.0,933113.0,50448.0,25680.0,Arizona,04,14.937418
3,37.2,2872684.0,502684.0,39267.0,21274.0,Arkansas,05,17.498757
4,34.9,36637290.0,4919945.0,60883.0,29188.0,California,06,13.428791

In [5]:
census_state=census_pd

In [6]:
#Replace the full state names with abbreviations
new_cols2=census_state.columns.drop(['State'])
census_state=census_state[new_cols2]
census_state=census_state.rename(columns={'Name':'state'})
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}
census_state=census_state.replace(us_state_abbrev)
census_state.head()

,Median Age,Population,Poverty Count,Household Income,Per Capita Income,state,Poverty Rate
0,37.5,4712651.0,786544.0,42081.0,22984.0,AL,16.690054
1,33.8,691189.0,64245.0,66521.0,30726.0,AK,9.294853
2,35.5,6246816.0,933113.0,50448.0,25680.0,AZ,14.937418
3,37.2,2872684.0,502684.0,39267.0,21274.0,AR,17.498757
4,34.9,36637290.0,4919945.0,60883.0,29188.0,CA,13.428791

In [7]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_state.to_csv("census_2010.csv", encoding="utf-8", index=False)